<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">

<head>
	<meta charset="UTF-8">

	<title>Design</title>
	<link rel="stylesheet" href="{% static 'css/main2.css' %}">
</head>

<body>
	<header>
		<div id="titles">
			<div id="title__1">
				МЫ СОЗДАЁМ НЕЧТО
			</div>
			<div id="title__2">
				БОЛЬШЕЕ, ЧЕМ ДИЗАЙН
			</div>
		</div>
		<div id="text__1">
			САЙТ В РАЗРАБОТКЕ
		</div>
		<div id="text__2">
			ArtKompaneets.ru
		</div>
			<a id="vk" href="https://vk.com/pavlushik_official">ПО ВСЕМ ВОПРОСАМ СЮДА</a>
	</header>
</body>

</html>
</html>